# System files
.DS_Store
Thumbs.db
ehthumbs.db
package-lock.json
.env.local

# Python files
__pycache__/
*.py[oc]
build/
dist/
wheels/
*.egg-info

# Virtual environment
.venv/

# IDE
.idea/
.cursor/
.vscode/
.trae/

#other
**/.claude/
API/backend/workspace/
**/CLAUDE.md